<div id="footer">
  <div class="container text-center">
      <div class="col-md-6">
      <p>&copy; 2018 Takeaway. Todos los derechos reservados. Diseñado por <a href="http://www.templatewire.com" rel="nofollow">Tecnovila.es</a></p>
      </div>
      <div class="col-md-6">
      <div class="social">
          <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          </ul>
      </div>
      </div>
  </div>
</div>